<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/GeekForGeek/src/com/geek/amazon181/PalindromeTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.geek.amazon181.PalindromeTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="GeekForGeek"/>
</launchConfiguration>
